*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: grid;
    place-content: center;
}

main{
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4%;
}

#progress-wrapper{
    border: 1px solid #000;
    height: 10px;
    margin: 10px 0;
    border-radius: 3px;
}
#progress-wrapper #progress{
    background: salmon;
    width: 0%;
    height: 10px;
}
#play-button{
    background: salmon;
}
#play-button:hover{
    background: rgb(240, 64, 64)
}
.tema{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
}
.cover{
    width: 100%;
    height: 200px;
}
.cover img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 12%;
    padding: 15px;
}
nav{
    text-align: center;
}
nav button{
    background: transparent;
    padding: 0px 10px;
    border-radius: 5px;
}
nav button:hover{
    border-bottom-width: 3px;
    background-color: salmon;
}
nav button:active{
    padding-top: 2px;
    border-bottom-width: 3px;
    background-color: salmon;
}
.durasi-musik{
    display: flex;
}
.durasi-musik .durasi-gerak{
    margin-left: auto;
}
.description{
    padding: 20px;
}
.description h1{
    font-size: 30px;
    font-weight: 100;
}
.description h2{
    font-size: 20px;
    font-weight: 500;
}
footer{
    text-align: center;
    margin-bottom: 10px;
}